<a href="https://colab.research.google.com/github/zahrahani/hani-s-first-python/blob/main/Week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Collection**

## List

In [ ]:
dataku = []
print(type(dataku))

<class 'list'>

**1. membuat list**

In [ ]:
dataku = ["hani", 18.6, 1, True]

**2. menampilkan / akses item list**

In [ ]:
dataku = ["hani", 18.6, 1, True]
print(dataku)

['hani', 18.6, 1, True]

In [ ]:
dataku = ["hani", 18.6, 1, True]
print(dataku[0])  # index = 0
print(dataku[1])  # index positif
print(dataku[-1]) # index negatif

hani
18.6
True

In [ ]:
dataku = ["hani", 18.6, 1, True]
print(dataku[0:4]) # range index positif
print(dataku[-3:-1]) # range index negatif
print(dataku[1:])
print(dataku[:3])
print(dataku[-1:])
print(dataku[:-3])
print(dataku[-1:2])

['hani', 18.6, 1, True]
[18.6, 1]
[18.6, 1, True]
['hani', 18.6, 1]
[True]
['hani']
[]

**menampilkan / akses item list menggunakan loop**

In [3]:
# loop for
dataku = ["hani", 18.6, 1, True]
for h in dataku:
    print(h)

hani
18.6
1
True

In [5]:
# loop for + index
# pakai fungsi .range() dan len()
dataku = ["hani", 18.6, 1, True]
for i in range(len(dataku)):
    print(i, dataku[i])

0 hani
1 18.6
2 1
3 True

In [6]:
# loop for + range index
dataku = ["hani", 18.6, 1, True]
for i in range(2):
    print(i, dataku[i])

0 hani
1 18.6

In [9]:
# loop while
dataku = ["hani", 18.6, 1, True]
i = 0
while i < len(dataku):
    print(i, dataku[i])
    i += 1

0 hani
1 18.6
2 1
3 True

In [10]:
# loop for + list comprehension
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewan_u = []

for h in hewan:
    if "u" in h:
        hewan_u.append(h)

print(hewan_u)

['kucing', 'beruang', 'burung', 'dinosaurus']

In [12]:
# loop for + list comprehension
# ringkas
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewan_u = [h for h in hewan if "u" in h]
print(hewan_u)

['kucing', 'beruang', 'burung', 'dinosaurus']

**3. edit list**

In [ ]:
# mengubah data
dataku = ["hani", 18.6, 1, True]
dataku[1] = 19
print(dataku)

['hani', 19, 1, True]

In [ ]:
# mengubah data (2)
dataku = ["hani", 18.6, 1, True]
dataku[0:2] = ["zahra", 19]
print(dataku)

['zahra', 19, 1, True]

In [ ]:
# mengubah data (3)
dataku = ["hani", 18.6, 1, True]
dataku[1:3] = [12, "april"]
print(dataku)

['hani', 12, 'april', True]

In [ ]:
# menambah data
dataku = ["hani", 18.6, 1, True]
dataku.append("wanita")
print(dataku)

['hani', 18.6, 1, True, 'wanita']

In [ ]:
# menambah data
# dengan metode .insert()
dataku = ["hani", 18.6, 1, True]
dataku.insert(1, "wanita")
print(dataku)

['hani', 'wanita', 18.6, 1, True]

In [ ]:
# menambahkan list lain
# dengan metode .extend()
dataku = ["hani", 18.6, 1, True]
dataku.extend(["wanita", "cute"])
print(dataku)

['hani', 18.6, 1, True, 'wanita', 'cute']

In [ ]:
# menambahkan list lain (2)
# dengan metode .extend()
dataku = ["hani", 18.6, 1, True]
dataku2 = ["wanita", "cute"]
dataku.extend(dataku2)
print(dataku)

['hani', 18.6, 1, True, 'wanita', 'cute']

In [ ]:
# menambahkan data ke dalam list dg tipe collection lain
# dengan metode .extend()
dataku = ["hani", 18.6, 1, True]
datatuple = (12, "pretty")
dataku.extend(datatuple)
print(dataku)

['hani', 18.6, 1, True, 12, 'pretty']

**4. hapus data item dalam list**

In [ ]:
# hapus item
# dengan del
dataku = ["hani", 18.6, 1, True]
del dataku[2]
print(dataku)

['hani', 18.6, True]

In [ ]:
# hapus item
# dengan metode .remove()
dataku = ["hani", 18.6, 1, True]
dataku.remove(1)
print(dataku)

['hani', 18.6, True]

In [ ]:
# hapus item
# dengan metode .pop()
dataku = ["hani", 18.6, 1, True]
dataku.pop(2)
print(dataku)

['hani', 18.6, True]

In [ ]:
# hapus last item
# dengan metode .pop()
dataku = ["hani", 18.6, 1, True]
dataku.pop()
print(dataku)

['hani', 18.6, 1]

In [ ]:
# clear list
# dengan metode .clear()
dataku = ["hani", 18.6, 1, True]
dataku.clear()
print(dataku)

[]

**5. hitung banyak data dalam list**

In [ ]:
# menghitung banyakk data
dataku = ["hani", 18.6, 1, True, "hani"]
print(len(dataku))

5

**6. cek ketersediaan item**

In [1]:
dataku = ["hani", 18.6, 1, True, "hani"]
if "hani" in dataku:
    print("ada, di index ke-", dataku.index("hani"))
else:
    print("tidak ada")

ada, di index ke- 0

In [ ]:
dataku = ["hani", 18.6, 1, True, "hani"]
if 12 in dataku:
    print("ada")
else:
    print("tidak ada")

tidak ada

**7. data duplikat**

In [ ]:
# list dengan data duplikat
dataku = ["hani", 18.6, 1, True, "hani"]
print(dataku)

['hani', 18.6, 1, True, 'hani']

**8. iterable**

In [2]:
angka = [x for x in range(11)]
print(angka)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
angka = [x for x in range(11) if x < 6 and x != 0]
print(angka)

[1, 2, 3, 4, 5]

**9. expression**

In [18]:
# manipulasi data
# kapital dengan upper()
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewan_new = [h.upper() for h in hewan]
print(hewan)
print(hewan_new)

['kucing', 'beruang', 'landak', 'burung', 'dinosaurus', 'elang']
['KUCING', 'BERUANG', 'LANDAK', 'BURUNG', 'DINOSAURUS', 'ELANG']

In [19]:
# manipulasi data
# kecil dengan lower()
hewan_new = ['KUCING', 'BERUANG', 'LANDAK', 'BURUNG', 'DINOSAURUS', 'ELANG']
hewan = [h.lower() for h in hewan]
print(hewan_new)
print(hewan)

['KUCING', 'BERUANG', 'LANDAK', 'BURUNG', 'DINOSAURUS', 'ELANG']
['kucing', 'beruang', 'landak', 'burung', 'dinosaurus', 'elang']

**10. sort list**

a. ascending

In [20]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewan.sort()
print(hewan)

['beruang', 'burung', 'dinosaurus', 'elang', 'kucing', 'landak']

In [21]:
angka = [19, 80, 49, 30, 11, 1, 98, 76]
angka.sort()
print(angka)

[1, 11, 19, 30, 49, 76, 80, 98]

b. descending

In [22]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewan.sort(reverse = True)
print(hewan)

['landak', 'kucing', 'elang', 'dinosaurus', 'burung', 'beruang']

In [23]:
angka = [19, 80, 49, 30, 11, 1, 98, 76]
angka.sort(reverse = True)
print(angka)

[98, 80, 76, 49, 30, 19, 11, 1]

c. case insensitive sort

In [24]:
hewan = ["Kucing", "beruang", "landak", "Burung", "Dinosaurus", "elang"]
hewan.sort()
print(hewan)

['Burung', 'Dinosaurus', 'Kucing', 'beruang', 'elang', 'landak']

In [25]:
hewan = ["Kucing", "beruang", "landak", "Burung", "Dinosaurus", "elang"]
hewan.sort(key = str.lower)
print(hewan)

['beruang', 'Burung', 'Dinosaurus', 'elang', 'Kucing', 'landak']

d. sort reverse

In [26]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewan.reverse()
print(hewan)

['elang', 'dinosaurus', 'burung', 'landak', 'beruang', 'kucing']

**11. copy list**

In [27]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewanku = hewan.copy()
print(hewanku)

['kucing', 'beruang', 'landak', 'burung', 'dinosaurus', 'elang']

In [28]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
hewanku = list(hewan)
print(hewanku)

['kucing', 'beruang', 'landak', 'burung', 'dinosaurus', 'elang']

**12. join list**

In [30]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
jumlah = [2, 1, 3, 5, 6, 4]
hewanku = hewan + jumlah
print(hewanku)

['kucing', 'beruang', 'landak', 'burung', 'dinosaurus', 'elang', 2, 1, 3, 5, 6, 4]

In [31]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
jumlah = [2, 1, 3, 5, 6, 4]

for h in jumlah:
    hewan.append(h)

print(hewan)

['kucing', 'beruang', 'landak', 'burung', 'dinosaurus', 'elang', 2, 1, 3, 5, 6, 4]

In [32]:
hewan = ["kucing", "beruang", "landak", "burung", "dinosaurus", "elang"]
jumlah = [2, 1, 3, 5, 6, 4]

hewan.extend(jumlah)
print(hewan)

['kucing', 'beruang', 'landak', 'burung', 'dinosaurus', 'elang', 2, 1, 3, 5, 6, 4]

## Tuple

In [ ]:
tuple_hani = ()
print(type(tuple_hani))

<class 'tuple'>

**1. membuat tuple**

In [ ]:
tuple_hani = ("wanita", 100, 1.0, True)

In [3]:
# jangan lupakan koma nya
tuple_hani = ("wanita",)
print(type(tuple_hani))

tuple_hani = ("wanita")
print(type(tuple_hani))

<class 'tuple'>
<class 'str'>

**2. menampilkan / akses item tuple**

In [ ]:
tuple_hani = ("wanita", 100, 1.0, True)
print(tuple_hani[0])  # index = 0
print(tuple_hani[1])  # index positif
print(tuple_hani[-1]) # index negatif
print(tuple_hani[0:4]) # range index positif
print(tuple_hani[:3])
print(tuple_hani[1:])
print(tuple_hani[-3:-1]) # range index negatif
print(tuple_hani[:-3])
print(tuple_hani[-2:])

wanita
100
True
('wanita', 100, 1.0, True)
('wanita', 100, 1.0)
(100, 1.0, True)
(100, 1.0)
('wanita',)
(1.0, True)

**menampilkan / akses item tuple dengan loop**

In [4]:
tuple_hani = ("wanita", 100, 1.0, True)
for t in tuple_hani:
    print(t)

wanita
100
1.0
True

In [5]:
tuple_hani = ("wanita", 100, 1.0, True)
for i in range(len(tuple_hani)):
    print(i, tuple_hani[i])

0 wanita
1 100
2 1.0
3 True

In [6]:
tuple_hani = ("wanita", 100, 1.0, True)
i = 0
while i < len(tuple_hani):
    print(i, tuple_hani[i])
    i += 1

0 wanita
1 100
2 1.0
3 True

In [7]:
tuple_hani = ("wanita", 100, 1.0, True)
if True in tuple_hani:
    print("ada")
else:
    print("tidak ada")

ada

**2. hitung banyak data dalam tuple**

In [ ]:
tuple_hani = ("wanita", 100, 1.0, True)
print(len(tuple_hani))

4

**3. edit tuple**

akan muncul error!

plis aku mohon, sebaiknya jangan gegabah

In [ ]:
tuple_hani = ("wanita", 100, 1.0, True)
del tuple_hani[2]
print(tuple_hani)

**4. mengubah value tuple**

In [11]:
tuple_hani = ("wanita", 100, 1.0, True)
list_hani = list(tuple_hani)
list_hani[0] = "perempuan"
tuple_hani = tuple(list_hani)

print(tuple_hani)

('perempuan', 100, 1.0, True)

**5. menambahkan item tuple**

In [12]:
tuple_hani = ("wanita", 100, 1.0, True)
tuple_hani = tuple_hani + ("cute",)
print(tuple_hani)

('wanita', 100, 1.0, True, 'cute')

In [13]:
tuple_hani = ("wanita", 100, 1.0, True)
print(tuple_hani)

tuple_hani2 = list(tuple_hani)
tuple_hani2.append("cute")
tuple_hani = tuple(tuple_hani2)
print(tuple_hani)

('wanita', 100, 1.0, True)
('wanita', 100, 1.0, True, 'cute')

**6. remove item tuple**

In [15]:
tuple_hani = ("wanita", 100, 1.0, True)
print(tuple_hani)

tuple_hani2 = list(tuple_hani)
tuple_hani2.remove(1.0)
tuple_hani = tuple(tuple_hani2)
print(tuple_hani)

('wanita', 100, 1.0, True)
('wanita', 100, True)

**7. data duplikat dalam tuple**

In [8]:
tuple_hani = ("wanita", 100, 1.0, True, 1.0)
print(tuple_hani)

('wanita', 100, 1.0, True, 1.0)

**8. unpacking tuple**

In [17]:
cartoon = ("mcqueen", "pocoyo", "minion")

(merah, biru, kuning) = cartoon

print(merah)
print(biru)
print(kuning)

mcqueen
pocoyo
minion

**menggunakan asterisk (*)**

In [20]:
cartoon = ("mcqueen", "pocoyo", "minion", "spongebob", "patrick")

(merah, biru, *kuning) = cartoon

print(merah)
print(biru)
print(kuning)

mcqueen
pocoyo
['minion', 'spongebob', 'patrick']

In [21]:
cartoon = ("mcqueen", "pocoyo", "minion", "spongebob", "patrick")

(merah, *biru, kuning) = cartoon

print(merah)
print(biru)
print(kuning)

mcqueen
['pocoyo', 'minion', 'spongebob']
patrick

In [ ]:
cartoon = ("mcqueen", "pocoyo", "minion", "spongebob", "patrick")

(merah, biru, *kuning) = cartoon

print(merah)
print(biru)
print(kuning)

**9. join tuple**

In [22]:
cartoon = ("mcqueen", "pocoyo", "minion")
film = ("spiderman", "avatar")

nobar = cartoon + film
print(nobar)

('mcqueen', 'pocoyo', 'minion', 'spiderman', 'avatar')

**10. multiply tuple**

In [23]:
film = ("spiderman", "avatar")
nobar = film * 3
print(nobar)

('spiderman', 'avatar', 'spiderman', 'avatar', 'spiderman', 'avatar')

## Set

In [30]:
data_set = {"",}
print(type(data_set))

<class 'set'>

**1. membuat set**

In [ ]:
data_set = {"cute", 12, 30.9, True}

**2. menambah item set**

In [ ]:
# dengan metode .add()
data_set = {"cute", 12, 30.9, True}
data_set.add("hani")
print(data_set)

{True, 'hani', 12, 'cute', 30.9}

In [35]:
# dengan metode .update()
data_set = {"cute", 12, 30.9, True}
data_set.update(["hani", "wanita"])
print(data_set)

{True, 12, 'wanita', 'hani', 30.9, 'cute'}

In [38]:
# menambah item dengan join set lain
# dengan metode .update() --2
data_set = {"cute", 12, 30.9, True}
data_set2 = {"hani", "wanita"}

data_set.update(data_set2)
print(data_set)

{'wanita', True, 'hani', 12, 30.9, 'cute'}

In [37]:
# menambah item dengan join set lain
# dengan metode .union()
data_set = {"cute", 12, 30.9, True}
data_set2 = {"hani", "wanita"}
data_set3 = data_set.union(data_set2)
print(data_set3)

{'wanita', True, 'hani', 12, 30.9, 'cute'}

**3. menghapus item set**

In [ ]:
# .remove()
data_set = {"cute", 12, 30.9, True}
data_set.remove(True)
print(data_set)

{12, 'cute', 30.9}

In [39]:
# .discard
data_set = {"cute", 12, 30.9, True}
data_set.discard(30.9)
print(data_set)

{True, 12, 'cute'}

In [43]:
# .pop()
data_set = {"cute", 12, 30.9, True}
x = data_set.pop()
print(data_set)
print(x)

{12, 30.9, 'cute'}
True

In [44]:
# .clear()
data_set = {"cute", 12, 30.9, True}
data_set.clear()
print(data_set)

set()

**4. menampilkan / akses item set**

In [ ]:
# menampilkan data set dengan loop
data_set = {"cute", 12, 30.9, True, True}

for data in data_set:
    print(data)

True
cute
12
30.9

In [32]:
# menampilkan data set dengan loop
# menampilkan suatu elemen dalam data set
data_set = {"cute", 12, 30.9, True}

for data in data_set:
    if data == "cute" or data is True:
        print(data)

True
cute

In [34]:
# mengecek ketersediaan data
data_set = {"cute", 12, 30.9, True}
print("cute" in data_set)

True

**5. data duplikat set**

In [ ]:
data_set = {"cute", 12, 30.9, True, True}
print(data_set)

{True, 'cute', 12, 30.9}

**6. hitung banyak item dalam set**

In [45]:
data_set = {"cute", 12, 30.9, True, True}
print(len(data_set))

4

**7. intersection**

hanya mencetak data yang sama

In [46]:
cartoon = {"cars", "barbie", "minion"}
transport = {"bus", "cars", "train"}

cartoon.intersection_update(transport)
print(cartoon)

{'cars'}

In [48]:
cartoon = {"cars", "barbie", "minion"}
transport = {"bus", "cars", "train"}
sama = cartoon.intersection(transport)
print(sama)

{'cars'}

**8. not intersection**

In [49]:
cartoon = {"cars", "barbie", "minion"}
transport = {"bus", "cars", "train"}

cartoon.symmetric_difference_update(transport)
print(cartoon)

{'barbie', 'minion', 'train', 'bus'}

In [50]:
cartoon = {"cars", "barbie", "minion"}
transport = {"bus", "cars", "train"}
beda = cartoon.symmetric_difference(transport)
print(beda)

{'barbie', 'minion', 'train', 'bus'}

## Dictionary

In [51]:
data_dict = {}
print(type(data_dict))

<class 'dict'>

**1. membuat dictionary**

In [ ]:
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

**2. menampilkan / akses item dict**

In [ ]:
# dengan menggunakan beberapa cara
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}
print(f"Nama: {data_dict['name']}") # f-string
print(f"Female?: {data_dict['female?']}") # f-string
print(data_dict["age"]) # memanggil value dg key
print(data_dict.get("height/weight")) # fungsi .get()

Nama: hani
Female?: True
18
158/52.5

In [ ]:
# menggunakan loop
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

for key, value in data_dict.items():
    print(f"{key}\t= {value}")

name	= hani
female?	= True
age	= 18
height/weight	= 158/52.5

**3. edit dictionary**

In [ ]:
# mengubah value
# melalui key
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}
data_dict["name"] = "zahra"
print(f"Nama: {data_dict['name']}")

Nama: zahra

In [ ]:
# mengubah value
# menggunakan metode .update()
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}
data_dict.update({"height/weight" : "160/55"})
print(f"height/weight: {data_dict['height/weight']}")

height/weight: 160/55

In [ ]:
# mengubah value
# menggunakan dictionary comprehension
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

data_dict = {
    key: value + 1
    if key == "age"
    else value
      for key, value in data_dict.items()}

print(f"age: {data_dict['age']}")

age: 19

In [ ]:
# menambahkan data
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}
data_dict["job"] = "mahasiswa"

for key, value in data_dict.items():
    print(f"{key}\t= {value}")

name	= hani
female?	= True
age	= 18
height/weight	= 158/52.5
job	= mahasiswa

In [ ]:
# menambahkan data dengan metode .update()
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}
data_dict.update({"job" : "mahasiswa"})

for key, value in data_dict.items():
    print(f"{key}\t= {value}")

name	= hani
female?	= True
age	= 18
height/weight	= 158/52.5
job	= mahasiswa

**4. hapus item dictionary**

In [58]:
# metode .pop()
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

data_dict.pop("female?")
for key, value in data_dict.items():
    print(f"{key}\t= {value}")

name	= hani
age	= 18
height/weight	= 158/52.5

In [59]:
# metode .popitem()
# menghapus last item
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

data_dict.popitem()
for key, value in data_dict.items():
    print(f"{key}\t= {value}")

name	= hani
female?	= True
age	= 18

In [60]:
# menggunakan del
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

del data_dict["female?"]
for key, value in data_dict.items():
    print(f"{key}\t= {value}")

name	= hani
age	= 18
height/weight	= 158/52.5

In [61]:
# menggunakan .clear()
data_dict = {}
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

data_dict.clear()
print(data_dict)

{}

**5. duplikasi data (key) dictionary**

yang disimpan hanya value key yang terakhir

In [52]:
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "age" : 19,
    "height/weight" : "158/52.5"
}

for key, value in data_dict.items():
    print(f"{key}\t= {value}")

name	= hani
female?	= True
age	= 19
height/weight	= 158/52.5

**6. hitung banyak item dalam dictionary**

In [54]:
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

print(len(data_dict))

4

**7. mendapatkan key dan value**

In [55]:
# key dengan .keys()
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

x = data_dict.keys()
print(x)

dict_keys(['name', 'female?', 'age', 'height/weight'])

In [56]:
# value dengan .values()
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

x = data_dict.values()
print(x)

dict_values(['hani', True, 18, '158/52.5'])

**8. cek ketersediaan item**

In [57]:
# key
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

if "name" in data_dict:
    print("ada")
else:
    print("tidak ada")

ada

**9. loop**

In [62]:
for key in data_dict:
    print(key)

In [ ]:
for key in data_dict:
    print(data_dict[key])

In [ ]:
for key in data_dict.keys():
    print(key)

In [ ]:
for value in data_dict.values():
    print(value)

In [ ]:
for key, value in data_dict.items():
    print(key, value)

**10. copy dictionary**

In [64]:
data_dict = {
    "name" : "hani",
    "female?": True,
    "age" : 18,
    "height/weight" : "158/52.5"
}

data_dict2 = data_dict.copy()

for key, value in data_dict2.items():
    print(f"{key} : {value}")

name : hani
female? : True
age : 18
height/weight : 158/52.5

**11. nested dictionary**

In [66]:
mypet = {
    "pet 1" : {
        "name" : "coki",
        "age"  : 4
    },
    "pet 2" : {
        "name" : "cimi",
        "age"  : 2
    },
    "pet 3" : {
        "name" : "comi",
        "age"  : 1
    }
}

print(mypet)

{'pet 1': {'name': 'coki', 'age': 4}, 'pet 2': {'name': 'cimi', 'age': 2}, 'pet 3': {'name': 'comi', 'age': 1}}

In [65]:
mypet = {
    "pet 1" : {
        "name" : "coki",
        "age"  : 4
    },
    "pet 2" : {
        "name" : "cimi",
        "age"  : 2
    },
    "pet 3" : {
        "name" : "comi",
        "age"  : 1
    }
}

for key, value in mypet.items():
    print(f"{key} : {value}")

pet 1 : {'name': 'coki', 'age': 4}
pet 2 : {'name': 'cimi', 'age': 2}
pet 3 : {'name': 'comi', 'age': 1}

In [68]:
mypet = {
    "pet 1" : {
        "name" : "coki",
        "age"  : 4
    },
    "pet 2" : {
        "name" : "cimi",
        "age"  : 2
    },
    "pet 3" : {
        "name" : "comi",
        "age"  : 1
    }
}

print(mypet["pet 1"]["name"])

coki

# **Exercise**

## Weekly Exercise 2

- Buatlah dan tentukan tipe collection untuk mengelola data kalian dengan rincian di bawah :<br/>
    Nama : nama mahasiswa <br/>
    Kelas : kelas mahasiswa <br/>
    Tanggal Lahir : tanggal lahir mahasiswa <br/>
    no hp : no hp mahasiswa <br/>
    alamat : alamat mahasiswa <br/>
    Hobi : <br/>
    1. Hobi 1 <br/>
    2. Hobi 2 <br/>
    3. dst <br/>
- Tampilkan seluruh data dengan teknik perulangan

In [ ]:
# program untuk mengelola data mahasiswa
# dengan menggunakan input

data_mahasiswa = {}
print("---Input Data Mahasiswa---")

data_mahasiswa = {
    "Nama": input("Nama          : "),
    "Kelas": int(input("Kelas         : ")),
    "Tanggal Lahir": input("Tanggal Lahir : "),
    "No. HP": int(input("No HP         : ")),
    "Alamat": input("Alamat        : "),
    "Hobi": input("Hobi          : ") #pisahkan dengan koma jika > 1
}

# mengubah str value hobi menjadi list
list_hobi = [Hobi.strip() for Hobi in data_mahasiswa["Hobi"].split(",")]
data_mahasiswa["Hobi"] = list_hobi

# program untuk menampilkan data mahasiswa
print()
print("--> Data Mahasiswa <--")
for key, value in data_mahasiswa.items():
    if key == "Hobi":
       print(f"{key}\t\t=")
       i = 1
       for Hobi in value:
           print(f"\t\t  {i}. {Hobi}")
           i += 1
    elif key == "Tanggal Lahir":
       print(f"{key}\t= {value}")
    else:
       print(f"{key}\t\t= {value}")

---Input Data Mahasiswa---
Nama          : hani
Kelas         : 01
Tanggal Lahir : 12
No HP         : 08988719023
Alamat        : saragan 01/08 banyurojo
Hobi          : memasak, mendengarkan musik

--> Data Mahasiswa <--
Nama		= hani
Kelas		= 1
Tanggal Lahir	= 12
No. HP		= 8988719023
Alamat		= saragan 01/08 banyurojo
Hobi		=
		  1. memasak
		  2. mendengarkan musik

In [ ]:
# program untuk mengelola data mahasiswa
# tanpa menggunakan input

data_mahasiswa = {}

data_mahasiswa = {
    "Nama": "Zahra Nibras Hanilatifa",
    "Kelas": "01",
    "Tanggal Lahir": "12 April",
    "No. HP": "08988719023",
    "Alamat": "Saragan 01/08 Banyurojo, Mertoyudan",
    "Hobi": "masak, mendengarkan musik"
}

# mengubah str value hobi menjadi list
list_hobi = [Hobi.strip() for Hobi in data_mahasiswa["Hobi"].split(",")]
data_mahasiswa["Hobi"] = list_hobi

# program untuk menampilkan data mahasiswa
print("--> Data Mahasiswa <--")
for key, value in data_mahasiswa.items():
    if key == "Hobi":
       print(f"{key}\t\t=")
       i = 1
       for Hobi in value:
           print(f"\t\t  {i}. {Hobi}")
           i += 1
    elif key == "Tanggal Lahir":
       print(f"{key}\t= {value}")
    else:
       print(f"{key}\t\t= {value}")

--> Data Mahasiswa <--
Nama		= Zahra Nibras Hanilatifa
Kelas		= 01
Tanggal Lahir	= 12 April
No. HP		= 08988719023
Alamat		= Saragan 01/08 Banyurojo, Mertoyudan
Hobi		=
		  1. masak
		  2. mendengarkan musik